<p style="color: green"><%= notice %></p>

<div id="albums">
  <h1>Albums</h1>

  <%= render "form", album: Album.new %>

  <% @albums.each do |album| %>
    <%= render "album", album: album %>
  <% end %>
</div>
