<p style="color: green"><%= notice %></p>

<div class="main">
  <h1>Greatest Albums: All Time</h1>

  <%= render "new_album_form", album: Album.new %>

  <div id="albums">
    <% @albums.each do |album| %>
      <%= render "album", album: album %>
    <% end %>
  </div>
</div>
