<p style="color: green"><%= notice %></p>

<h1>Albums</h1>

<%= render "form", album: Album.new %>

<div id="albums">
  <% @albums.each do |album| %>
    <%= render "album", album: album %>
  <% end %>
</div>
